---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

<div class="BlogAnchor">
    <p>
        <b id="AnchorContentToggle" title="收起" style="cursor:pointer;">Contents[-]</b>
    </p>
   
    <div class="AnchorContent" id="AnchorContent">

                           <ul id="tree" class="ztree" style='width:100%'>
        
                    </ul>
     </div>
</div>


  <article class="post-content">
    {{ content }}
  </article>

</div>


<link rel="stylesheet" href="{{site.baseurl}}/css/toc.css" type="text/css">
<link rel="stylesheet" href="{{site.baseurl}}/css/zTreeStyle.css" type="text/css">


<!--<script type="text/javascript" src="{{site.baseurl}}/js/jquery-1.10.2.min.js"></script>-->
<script type="text/javascript">

$("#AnchorContentToggle").click(function(){
    var text = $(this).html();
    if(text=="Contents[-]"){
        $(this).html("Contents[+]");
        $(this).attr({"title":"展开"});
    }else{
        $(this).html("Contents[-]");
        $(this).attr({"title":"收起"});
    }
    $("#AnchorContent").toggle();
});



$(".anchor-link").click(function(){
    $("html,body").animate({scrollTop: $($(this).attr("link")).offset().top}, 1000);
});
</script>

<script src='{{site.baseurl}}/js/jquery.ztree.all-3.5.min.js'></script>
<script src='{{site.baseurl}}/js/ztree_toc.js'></script>
<SCRIPT type="text/javascript" >
  <!--
  $(document).ready(function(){
    jQuery('#tree').ztree_toc({
      is_auto_number:true,
      documment_selector:'article',
      ztreeStyle: {
                        overflow: 'auto',
                        position: 'inherit',
                        'z-index': 2147483647,
                        border: '0px none',
                        left: '0px',
                        top: '0px'
                    }
    });
  });
  //-->
</SCRIPT>