---
layout: default
title: Courses
categories: course
---
<section class="docs">
  <!--<div class="grid">
    <article>
    <ul>
      {% assign category = page.categories | join: ' ' | split: ' ' | last %}
      {% for post in site.categories[category] %}
      <li><span>{{ post.date | date: '%Y-%m-%d' }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
    </article>
  </div>
-->

  <div class="grid">
    <article>
    <div class = "course_unit">
     <ul class = "course_panel ">
      {% assign category = page.categories | join: ' ' | split: ' ' | last %}
      {% for post in site.categories[category] %}
      <li name = "{{post.course_name}}" class="grid">
      <div class = "unit one-third course_cover"><a href="{{ post.url }}"><img src="./cover/{{post.cover}}" alt></a></div>
      <div class = "unit course_detail two-thirds "><a href="{{ post.url }}"><h3>{{post.course_name}}</h3></a>
      <h4>Introduction:</h4>
      <p>{{post.introduction}}</p>
      </div>
      </li>
      {% endfor %}
    </ul>
    </div>
    </article> 
  </div>
</section>
